/* Target the input field directly for text color */
.custom-search input {
  color: #000; /* or any dark color for text */
  background-color: #fff; /* white background */
}

/* Target only the placeholder within the input for its color */
.custom-search input::placeholder {
  color: #aaa; /* or any light color for placeholder */
}

.app {
  height: 100%;
}

.newsgrid {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  height: 100%; /* Full viewport height */
}

.newsgrid-search {
  background-color: #363636;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  gap: 1rem; /* This is the space between items */
  height: 100%; /* Full viewport height */
  justify-items: center;
  align-items: center;
}

.cell-item {
  margin: 0.5em;
  width: 50%;
  height: 16em;
  margin-top: 2em;
  overflow: hidden;
}

.category-title {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.img-wrapper {
  height: 8em;
}

.cards-wrapper {
  margin: 3em;
  justify-content: center;
}

.news-card {
  margin: 0.5em;
  max-width: calc(100% / 7.5);
  height: 16em;
  overflow: hidden;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-link {
  color: inherit; /* This will make the text color the same as the parent element */
  text-decoration: none; /* This removes the underline from links */
}

.carousell {
  text-align: center;
}

.carousel-indicators {
  visibility: hidden;
}

.carousel-control-prev {
  /*background-color: black;*/
}

.carousel-control-next {
  /*background-color: black;*/
}
